.Header-container{
    display: flex;
    justify-content:space-between;
    background-color: #FF847C;
    padding: 20px;
    color: white;
    opacity: 0.8;
}

.Header-nav{
    display: flex;
    justify-content: flex-end;
}

.Header-label{
    display: flex;
    margin-left: 15px;
}